*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain light";
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#crsr{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000000;
    padding: 18vh 10vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.7vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-family: "silk serif";
    font-weight: 100;
    font-size: 3vw;
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;   
}
.line h2{
    font-size: 5vw;
    gap: 1vw;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime{
    0%{
        font-family: "plain light";
        color: #fff;
        -webkit-text-stroke: 1px #fff;
        font-weight: 900;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        color: #fff;
        -webkit-text-stroke: 1px #fff;
        font-weight: 900;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        font-weight: 900;
        opacity: 1 ;
    }
    100%{
        font-family: "silk serif";
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        font-weight: 900;
        opacity: 0 ;
    }
}

#main{
    /* width: 100%; */
    background-color: #0c0c0c;
    position: relative;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#nav{
    padding: 6vh 4.9vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h3{
    font-size: 2vh;
    font-weight:500;
}
.hero  {
    width: 70%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}
.hero:nth-child(2){
    margin-top: 18vh;

}
.hero h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 7.5vw;
}
.hero h2 {
    font-size: 7.5vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.5vw;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.8vw;
    margin-right: 1vw;

}
.hero h2:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid transparent;
}
#page2{
    height: 100vh;
    width: 100%;
    padding-top: 15vh;
    background-color: #151515;
    position: relative;
}
#img-cursor{
    height: 7vw;
    width: 7vw;
    position: absolute;
    background-color: #FFA63D;
    z-index: 9999;
    left: 80%;
    top:-10%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video-container i{
    font-size: 2vw;
}
#video-container{
    height: 70vh;
    width: 70vw;
    position: relative;
    left: 29.2%;
    background: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}
#video-container img{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
    position: relative;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-top: 5vh ;
}
#page4-content{
    height: fit-content;
    /* width: 60vw; */
    position: relative;
    margin-left: 28%;
}
#page4-content h1{
    font-size: 7.2vw;
    text-transform: uppercase;
    margin-bottom: 10vh;
}
#page4-content .underline{
    height: 2px;
    width: 100%;
    background-color: white;
    margin: 5vw 0;
    /* padding-bottom: ; */

}
#page4-content>p{
    font-size: 2.3vw;
    width: 65%;
    line-height: 6vh;
    margin-bottom: 3vw;
}
#page4-flex{
    display: flex;
}
#page4-flex img{
    /* height: 85vh; */
    width: 51%;
    /* object-fit: cover; */
}
#page4-flex p{
    font-size: 1vw;
    width: 30%;
    margin-left: 2vw;
    line-height: 3vh;
}
#page4-blue{
    /* position: relative; */
    padding: 3vw;
    background-color: #3F7DF4;
    width: 32vw;
    position: relative;
    margin-top: -30vh;
    margin-left: 20vw;
}
#blue-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 0;
    border-bottom: 2px solid #fff;
}
#blue-elem h4{
    font-size: 1.5vw;
    font-weight: 500;
}
#blue-elem p{
    width: 40%;
    font-size: 1.05vw;
}

#page5{
    min-height: 100vh;
    width: 100%;
    padding: 3vh;
}