*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain light";
}

html,body{
    height: 100%;
    width: 100%;
}
#crsr{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    border: 1px solid #fff;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000000;
    padding: 18vh 10vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.7vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-family: "silk serif";
    font-weight: 100;
    font-size: 3vw;
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;   
}
.line h2{
    font-size: 5vw;
    gap: 1vw;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime{
    0%{
        font-family: "plain light";
        color: #fff;
        -webkit-text-stroke: 1px #fff;
        font-weight: 900;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        color: #fff;
        -webkit-text-stroke: 1px #fff;
        font-weight: 900;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        font-weight: 900;
        opacity: 1 ;
    }
    100%{
        font-family: "silk serif";
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        font-weight: 900;
        opacity: 0 ;
    }
}

#main{
    /* width: 100%; */
    background-color: #0c0c0c;
    position: relative;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#nav{
    padding: 6vh 4.9vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h3{
    font-size: 2vh;
    font-weight:500;
}
.hero  {
    width: 70%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
}
.hero:nth-child(2){
    margin-top: 18vh;

}
.hero h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 7.5vw;
}